BasedOnStyle: Microsoft
IndentWidth: 4
DerivePointerAlignment: false
BraceWrapping:
    AfterStruct: true
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true
AllowAllArgumentsOnNextLine: true
BracedInitializerIndentWidth: 4
